<div class="container mt-5 text-center">

</div>

<!--
<div class="container d-flex p-2">
  <mat-grid-list cols="2" rowHeight="2:1">
  <ul class="gtotds">
    <li *ngFor="let gtotd of gtotds">

      <div class="card mb-3 gtotd">
        <div class="card-body">
          <div class="gtotd_header">
          <img src='{{gtotd.image}}' class="profilePic gtotd_header_item" alt="image">
          <h3 class="gtotd_header_item">{{gtotd.title}}</h3>

          </div>
          <div class="gtotd_header">
            <p class="gtotd_header_item">By: {{gtotd.user}}</p>
            <p class="gtotd_header_item">On: {{gtotd.date_created}}</p>
          </div>
          <hr />

          <p>{{gtotd.body}}</p>

          <a routerLink="/gtotd/{{gtotd.id}}" class="btn btn-primary">Comment</a>
        </div>
        <br />
      </div>
    </li>
  </ul>
  </mat-grid-list>
</div>


<mat-grid-list class="grid_list" cols="3" rowHeight="2:1">
  <ul class="gtotds">
    <li *ngFor="let gtotd of gtotds">
      <mat-grid-tile>
      <div class="gtotd">
          <div class="gtotd_header">
            <img src='{{gtotd.image}}' class="profilePic gtotd_header_item" alt="image">
            <h3 class="gtotd_header_item">{{gtotd.title}} | {{gtotd.user}}</h3>
            <a routerLink="/gtotd/{{gtotd.id}}" class="gtotd_header_item far">&#xf4ad; <a id="comment">Comment</a></a>

          </div>
        <div>
          <p class="gtotd_header_item">{{gtotd.body}}</p>
        </div>
          <div class="gtotd_header">
            <p class="gtotd_header_item">On: {{gtotd.date_created}}</p>

          </div>
        </div>
        <br />
      </mat-grid-tile>
    </li>
  </ul>
</mat-grid-list>
-->

<mat-grid-list class="grid_list" cols="1" rowHeight="4:1">
  <ul class="gtotds">
    <li *ngFor="let gtotd of gtotds">
      <mat-grid-tile>
        <div class="gtotd">
          <div class="gtotd_header">
            <img src='{{gtotd.image}}' class="profilePic gtotd_header_item" alt="image">
            <ul class="inner_list">
              <li>
                <p class="gtotd_header_item">{{gtotd.title}} | {{gtotd.user}}</p>
              </li>
              <li>
                <a routerLink="/gtotd/{{gtotd.id}}" class="gtotd_header_item far">&#xf4ad; <a id="comment">Comment</a></a>
              </li>
              <li>
                <p class="gtotd_header_item">On: {{gtotd.date_created}}</p>
              </li>
            </ul>

          </div>
          <div class="gtotd_header">
            <p class="gtotd_header_item">{{gtotd.body}}</p>
          </div>
        </div>
        <br />
      </mat-grid-tile>
    </li>
  </ul>
</mat-grid-list>
