.gtotds {
  list-style: none;
  width: 35rem;
  display:flex;
}

.gtotd {

}

.mat-grid-tile {
  outline: 1px solid black;
}

.grid_list {
  margin: auto;
  width: 70%;
}

.mat-list {
  flex-grow: 1;
  overflow: auto;
}
.mat-grid-tile {
  flex-grow: 10;
  overflow: auto;
}
.gtotd_header {
  margin: 1rem;
}

.gtotd_header_item {
  margin: 0;
}

#comment {
  font-family: "Segoe MDL2 Assets", sans-serif;
}

.mat-grid-tile:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.profilePic {
  border-radius: 50%;
  width: 75px;
  height: 75px;
}

.inner_list {
  list-style: none;
}
