.gtotds {
  list-style: none;
  width: 35rem;
  display:flex;
}

.gtotd {

}

.grid_list {
  margin: auto;
  width: 80%;
}

.gtotd_header {

}

.gtotd_header_item {
  margin: 1rem;
}

.profilePic {
  border-radius: 50%;
  width: 75px;
  height: 75px;
}
