<header class="p-3 bg-dark text-white">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a routerLink="/" class="nav-link px-2 text-white">Home</a></li>

          <form [formGroup]="form" (submit)="submit()" class="d-flex">
            <li><input formControlName="search" type="text" class="form-control" placeholder="Search"></li>
            <li><button class="btn btn-warning" type="submit">Search</button></li>
          </form>

      </ul>

      <div class="text-end" *ngIf="authenticated">
        <a routerLink="/gtotd" class="btn btn-warning">GTOTD</a>
        <a routerLink="/login" type="button" class="btn btn-outline-light me-2" (click)="logout()">Logout</a>
        <a routerLink="/profile/{{user_id}}" type="button" class="btn btn-outline-light me-2">Account</a>
      </div>

      <div class="text-end" *ngIf="!authenticated">
        <a routerLink="/login" type="button" class="btn btn-outline-light me-2">Login</a>
        <a routerLink="/register" class="btn btn-warning">Sign-up</a>
      </div>
    </div>
  </div>
</header>
