/* You can add global styles to this file, and also import other style files */

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.gtotds, .comments  {
  list-style: none;
}

.gtotds {
  margin: 0;
  padding: 0;
}

.gtotd {
  width: 55rem;
}

.gtotd_header {
  display: flex;
}

.gtotd_header_item {
  margin: 0 1rem 0 0;
}

.profilePic {
  border-radius: 50%;
  width: 75px;
  height: 75px;
  display: block;
  margin: 0;
}

.profile_header_item {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  display: block;
  margin: .2rem;
}
.card-body {
  padding: .2rem;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
