<div class="container d-flex p-2" *ngIf="response">
  <ul class="gtotds">
    <li *ngFor="let gtotd of gtotds">
      <div class="card mb-3" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">What Happened?</h5>
          <h3>{{gtotd.title}}</h3>
          <hr />
          <h5>Give me more details!</h5>
          <p>{{gtotd.body}}</p>
          <p>By: {{gtotd.user}}</p>
          <p>On: {{gtotd.date_created}}</p>
          <a routerLink="/gtotd/{{gtotd.id}}" class="btn btn-primary">Comment</a>
        </div>
        <br />
      </div>
      <form [formGroup]="form" (submit)="submit()" *ngIf="authenticated">
        <h1 class="h3 mb-3 fw-normal">New Comment</h1>

        <div class="form-floating">
          <textarea formControlName="body" type="text" class="form-control" placeholder="Body"> </textarea>
          <label>Body</label>
        </div>

        <button class="w-100 btn btn-lg btn-primary" type="submit">Submit</button>
      </form>
    </li>
  </ul>
</div>

<div class="container d-flex p-2" *ngIf="comment">
  <ul class="comments" >
    <li *ngFor="let com of comments">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5>{{com.user}} Says...</h5>
          <p>{{com.body}}</p>
          <p>On: {{com.date_created}}</p>
        </div>
      </div>
    </li>
  </ul>
</div>


<div class="container d-flex p-2" *ngIf="!response">
  <p>Nothing to see here, move along.</p>
</div>

<div class="container d-flex p-2" *ngIf="!comment">
  <p>There are no comments. Why not be the first?</p>
</div>
