

<mat-tab-group>
  <mat-tab label="GTOTDS">
    <mat-grid-list class="grid_list" cols="3" rowHeight="2:1">
      <ul class="gtotds">
        <li *ngFor="let gtotd of gtotds">
          <mat-grid-tile>
            <div class="gtotd">
              <div class="gtotd_header">
                <img src='{{gtotd.image}}' class="profilePic gtotd_header_item" alt="image">
                <h3 class="gtotd_header_item">{{gtotd.title}}</h3>

              </div>
              <div>
                <p class="gtotd_header_item">{{gtotd.body}}</p>
              </div>
              <div class="gtotd_header">
                <p class="gtotd_header_item">By: {{gtotd.user}}</p>
                <p class="gtotd_header_item">On: {{gtotd.date_created}}</p>
                <a routerLink="/gtotd/{{gtotd.id}}" class="gtotd_header_item">Comment</a>

              </div>
            </div>
            <br />
          </mat-grid-tile>
        </li>
      </ul>
    </mat-grid-list>
  </mat-tab>
  <mat-tab label="Users">
      <ul class="gtotds">
        <li *ngFor="let user of users">
            <p>
              <img src='{{user.image}}' class="profilePic gtotd_header_item" alt="image">
              {{user.first_name}}
              {{user.last_name}}
            </p>
            <br />
        </li>
      </ul>
  </mat-tab>
</mat-tab-group>
